<main class="content box rounded">

  <h1>Password Generator</h1>

  <div class="form-group">
    <label>
      Enter password length
      <input (input)="onInputLength($event)" class="input" type="number">
    </label>
  </div>

  <div class="form-group">
    <label class="checkbox">
      <input (change)="useLetters = !useLetters" type="checkbox">
      Use letters
    </label>
  </div>

  <div class="form-group">
    <label class="checkbox">
      <input (change)="useNumbers = !useNumbers" type="checkbox">
      Use numbers
    </label>
  </div>

  <div class="form-group">
    <label class="checkbox">
      <input (change)="useSymbols = !useSymbols" type="checkbox">
      Use symbols
    </label>
  </div>

  <div class="form-group">
    <button
      [disabled]="!(passLen && (useLetters || useNumbers || useSymbols))"
      (click)="onGeneratePassword()"
      class="button is-primary is-medium is-fullwidth">Generate!</button>
  </div>

  <div *ngIf="password" class="form-group my-card rounded">
    <label>
      Your password:
      <input [value]="password" type="text" class="input" readonly>
    </label>
    <button
      (click)="copyText(password)"
      class="button is-white copy-button rounded">
      <fa-icon [icon]="faCopy"></fa-icon>
    </button>
  </div>

</main>
